<form action="/result_form" method="post">
  <label for="user-word">First Word</label>
  <input type="text" name="user-word">
  <label for="anagram-one">1st To compare</label>
  <input type="text" name="anagram-one">
  <label for="anagram-two">2nd To compare</label>
  <input type="text" name="anagram-two">
  <button type="submit" name="button">Check 'em</button><button type="button" name="button">Add Another Word to Check</button>

</form>
